@model IEnumerable<Data.Usuario>

@{
    ViewBag.Title = "Lista de Usuarios - Atenda";
}

<h2>Lista de Usuarios</h2>

<p>
    @Html.ActionLink("Criar novo usuário", "CreateUserView")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adm)
        </td>
        <td>
            @Html.ActionLink("Alterar", "EditUserView", new { pId = item.IdUsuario }) |
            @Html.ActionLink("Delete", "DeleteUserView", new { pId = item.IdUsuario })
        </td>
    </tr>
}

</table>